  <main ng-controller="TodoController">
  <div ng-show="loading">
    <loading msg='Carregando..'></loading>
  </div>

  <h4>Nova Tarefa:</h4>
  <input type="text" ng-model="newTask.name"/>
  <button type="button" ng-Click="UpSertTask(newTask)">Salvar</button>

  <br><br><br>

  <h4>Lista de Tarefas:</h4>

    <div ng-repeat="task in tasks | orderBy:'name'">
      {{task.name}}
      <button type="button" ng-Click="UpdateTask(task)">UP</button>
      <button type="button" ng-Click="DeleteTask(task)">DEL</button>
    </div>
</main>
