
<h1 class="text-center v-center">Conding DOJO - Korosi</h1>

<section>
  <div class="row">
    <!-- gulpjs -->
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3>Gulp.js</h3>
          <p> Vamos aprender Gulp.js :-)</p>
          <a target="_blank" href="http://gulpjs.com/">
            <img class="img-responsive center-block" src="stylesheets/img/gulpjs_logo.png"/>
          </a>
        </div>
      </div> <!--/gulpjs-->
    </div>

    <!-- angularjs -->
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3>AngularJS</h3>
          <p> AngularJS também!</p>
          <a target="_blank" href="https://angularjs.org/">
            <img class="img-responsive center-block" src="stylesheets/img/angularjs_logo.png"/>
          </a>
        </div>
      </div>
    </div> <!--/angularjs-->

    <!-- outros -->
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3>Outros</h3>
          <p>E ainda Git, Node.js e Bower</p>
          <br>
          <div class="col-xs-4">
            <a target="_blank" href="https://git-scm.com/">
              <img class="img-responsive center-block" src="stylesheets/img/git_logo.png"/>
            </a>
          </div>
          <div class="col-xs-4">
            <a target="_blank" href="https://nodejs.org/">
              <img class="img-responsive center-block" src="stylesheets/img/nodejs_logo.png"/>
            </a>
          </div>
          <div class="col-xs-4">
            <a target="_blank" href="http://bower.io/">
              <img class="img-responsive center-block" src="stylesheets/img/bower_logo.png"/>
            </a>
          </div>
        </div>
      </div>
    </div> <!--/outros-->
  </div>
</section>

<section>
  <br><br><br>
  <div class="row">
    <button class="col-xs-4 col-xs-offset-4 btn btn-lg btn-success">Implementar TODO</button>
  </div>
</section>
